<div class="study-description">
    <h2>Analyse du questionnaire</h2>
    <p>
      Notre groupe avait pour but de recueillir des données afin d’<strong>analyser le lien entre consommation de jeux vidéo et performances académiques</strong>. Pour cela, un questionnaire a été conçu, permettant de récolter 269 réponses d’étudiants français en études supérieures. Les étudiants provenaient de divers établissements, dans des domaines d’étude variés, bien qu’une sur-représentation des étudiants en informatique ait été constatée.
    </p>
    <h3>Informations sociodémographiques</h3>
    <p>
      Les données obtenues contiennent des informations suivantes :
    </p>
    <ul>
      <li>Genre, âge, niveau et domaine d’étude</li>
      <li>Niveau d’étude parental</li>
      <li>Situation familiale</li>
    </ul>
    <h3>Consommation de jeux vidéo</h3>
    <p>
      Nous avons également récolté des données concernant la consommation de jeux vidéo, incluant :
    </p>
    <ul>
      <li>Quantité d’heures jouées</li>
      <li>Types de jeux</li>
      <li>Moment de jeu dans la journée</li>
      <li>Langue dans laquelle les individus jouent</li>
    </ul>
    <h3>Activités quotidiennes et performances académiques</h3>
    <p>
      Afin de relativiser l’impact des jeux vidéo sur les performances scolaires, nous avons également relevé des données sur :
    </p>
    <ul>
      <li>Loisirs en général</li>
      <li>Temps consacré aux tâches ménagères</li>
      <li>Temps consacré aux réseaux sociaux</li>
    </ul>
    <p>
      Enfin, notre jeu de données contient des informations permettant de refléter la performance académique :
      <strong>moyenne générale, moyenne en anglais.</strong> De même que dans l’étude Student Alcohol Consumption, nous avons relevé des facteurs externes pouvant influencer cette performance :
    </p>
    <ul>
      <li>Retards</li>
      <li>Absences</li>
      <li>Motivation à poursuivre des études</li>
      <li>Temps de révision</li>
      <li>Temps de trajet</li>
      <li>Soutien scolaire</li>
    </ul>
  </div>
  