<h2>Effectif des élèves par tranche de notes </h2>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="'vivid'"
  [results]="chartData"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [legend]="false"
  [yScaleMax]="yScaleMax"
  [yScaleMin]="yScaleMin">
</ngx-charts-bar-vertical>

<h2>Effectif des élèves par tranche de notes en fonction du niveau d'éducation des parents</h2>
<h4>Niveau d'éducation : {{niveauEduc}}</h4>
<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="'vivid'"
  [results]="chartData2"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [legend]="false"
  [yScaleMax]="yScaleMax"
  [yScaleMin]="yScaleMin">
</ngx-charts-bar-vertical>

<!--<h2>Combiné</h2>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="'vivid'"
  [results]="combinedChartData"
  [xAxis]="true"
  [yAxis]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [legend]="false"
  [yScaleMax]="yScaleMax"
  [yScaleMin]="yScaleMin"
  [customColors]="customColors">
</ngx-charts-bar-vertical>-->