.chart-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffe6f0; /* Couleur plus douce */
  border: 1px solid #ddd;
  border-radius: 12px; /* Angles légèrement plus arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre plus douce */
  font-family: 'Arial', sans-serif; /* Police moderne */
}

.menu-and-chart {
  display: flex;
  flex-wrap: wrap; /* Permet d'empiler les éléments sur petits écrans */
  gap: 30px; 
  align-items: flex-start;
}

.menu {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px; /* Angles arrondis */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
h2{
  text-align: center;
}
.menu:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}


.menu-item {
  margin-bottom: 25px;
}


.menu-item h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  border-left: 4px solid #997a8d; 
  padding-left: 10px;
}


.menu-item label {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.menu-item label:hover {
  color: #997a8d; 
}


.menu-item input[type="radio"] {
  margin-right: 12px;
  width: 16px;
  height: 16px;
  accent-color: #997a8d; 
}


.menu-item:last-child {
  margin-bottom: 0;
}


.chart {
  flex: 3;
}


.chart-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}


.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu-item h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

