<div class="chart-container">
  <div class="menu-and-chart">

    <div class="menu">
      <div class="menu-item">
        <h4>Aucun filtre
          <input type="radio" name="radio-button" value="aucunfiltre" id="unselect-all-checkboxes" (change)="onDeselectAll()">
        </h4>

        <h4>Education parentale
          <input type="radio" name="radio-button" value="educationFamiliale" id="select-all-checkboxes" (change)="onAllParentEducationLevelToggle(4, $event)">
        </h4>
        <label>
          <input type="checkbox" name="educationFamiliale" value="4" [(ngModel)]="educationCheckboxes['4']" (change)="onParentEducationLevelToggle(4, $event)">
          Élevée
        </label>
        <label>
          <input type="checkbox" name="educationFamiliale" value="3"
          [(ngModel)]="educationCheckboxes['3']" (change)="onParentEducationLevelToggle(3, $event)">
          Moyennement élevée
        </label>
        <label>
          <input type="checkbox" name="educationFamiliale" value="2"
          [(ngModel)]="educationCheckboxes['2']" (change)="onParentEducationLevelToggle(2, $event)">
          Moyennement faible
        </label>
        <label>
          <input type="checkbox" name="educationFamiliale" value="1" [(ngModel)]="educationCheckboxes['1']" (change)="onParentEducationLevelToggle(1, $event)">
          Faible
        </label>
      </div>

      <!--<div class="menu-item">
        <h4>Alcool
          <input type="radio" name="radio-button" value="alcool">
        </h4>
        <label>
          <input type="checkbox" name="alcool" value="1">
          Jamais
        </label>
        <label>
          <input type="checkbox" name="alcool" value="2">
          Occasionnellement
        </label>
        <label>
          <input type="checkbox" name="alcool" value="3">
          Régulièrement
        </label>
      </div>

      <div class="menu-item">
        <h4>Jeu Vidéos
          <input type="radio" name="radio-button" value="jeu-video">
        </h4>
        <div class="checkbox-dropdown" id="jeu-video-options" style="display:none;">
          <label>
            <input type="checkbox" name="jeu-video" value="action">
            Action
          </label>
          <label>
            <input type="checkbox" name="jeu-video" value="aventure">
            Aventure
          </label>
          <label>
            <input type="checkbox" name="jeu-video" value="stratégie">
            Stratégie
          </label>
          <label>
            <input type="checkbox" name="jeu-video" value="simulation">
            Simulation
          </label>
        </div>
      </div>-->

    </div>

    <div class="chart">
      <h2>Effectif des élèves par tranche de notes </h2>
      <div class="chart-wrapper">
        <ngx-charts-bar-vertical-2d [view]="view" [scheme]="'vivid'" [results]="combinedChartData" [xAxis]="true"
          [yAxis]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showXAxisLabel]="true"
          [showYAxisLabel]="true" [legend]="false" [customColors]="customColors" [yScaleMax]="yScaleMax">
        </ngx-charts-bar-vertical-2d>
      </div>
    </div>
  </div>
</div>