:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  ngx-charts-polar-chart {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 8px;
    padding: 20px;

  }
    

  .chart-container {
    text-align: center;
  }
  
  .chart-container h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
  }
  