<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Équipe Rose Mountbatten</h3>
        <p>Merci à tous les participants pour leur dévouement et leur créativité.</p>
      </div>
      


      <div class="teams-container" class="footer-section">

        <div class="team">
          <h3>Cheffe de projet</h3>
          <ul id="extraction-team">
      
            <li>Victoire Cassirame</li>
          </ul>
        </div>
        <!-- Équipe Extraction -->
        <div class="team">
          <h3>Équipe Extraction des données</h3>
          <ul id="extraction-team">
            <!-- Ajouter les prénoms ici -->
            <li>Vitushan Vijayatharan</li>
            <li>Zakaria Gueddou</li>
            <li>Mehdi Isaf</li>
          </ul>
        </div>
      
        <!-- Équipe Analyse -->
        <div class="team">
          <h3>Équipe Analyse de données</h3>
          <ul id="analyse-team">
            <!-- Ajouter les prénoms ici -->
            <li>Rayan Kheroua</li>
            <li>Zen Ahmed Khamal</li>
            <li>Arsan Abdi</li>
          </ul>
        </div>
      
        <!-- Équipe Dev Web -->
        <div class="team">
          <h3>Équipe Developpement Web</h3>
          <ul id="devweb-team">
            <!-- Ajouter les prénoms ici -->
            <li>Deraina Andriambala</li>
            <li>Imman Amaladasse</li>
            <li>Estéban Marie-Louise</li>
          </ul>
        </div>
      </div>
      
      <div class="footer-section">
        <h4>Informations supplémentaires</h4>
        <p>Projet réalisé en 2025 dans le cadre d'un projet universitaire.</p>
        <p>Contact : <a href="/">contact rosemountbatten.com</a></p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Équipe Rose Mountbatten. Tous droits réservés.</p>
    </div>
  </footer>
  