
<div class="stats-container2">
    <h2>Origine du logo et de notre nom d'équipe</h2>
    <div class="texte2">
      <img src="assets/logo.png" id="logo" />
      <p>
        Le nom de couleur rose Mountbatten désigne une couleur de camouflage
        maritime utilisée pour les navires de la Royal Navy au cours de la Seconde
        Guerre mondiale. <br />C'était un gris rosâtre, employé à l'instigation de
        l'amiral Louis Mountbatten. Mountbatten, convaincu de l'efficacité de
        cette couleur comme camouflage à l'aube et au crépuscule, moments
        dangereux pour les navires,<br />
        fit peindre tous les destroyers de sa flottille avec une peinture
        similaire, créée en mélangeant un gris moyen avec une petite quantité de
        rouge vénitien.
      </p>
    </div>
  </div>