.chart-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu horizontalement */
}

.menu-and-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart {
  margin-bottom: 30px; /* Ajout d'un espace entre le graphique et les curseurs */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacement vertical entre les curseurs */
  align-items: center; /* Centrer horizontalement */
  width: 100%; /* Étendre les curseurs à la largeur disponible */
}

.menu-item {
  width: 100%;
  max-width: 600px; /* Limiter la largeur des curseurs */
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu des curseurs */
  gap: 10px; /* Espacement entre le label et l'entrée */
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%; /* La largeur correspond à celle de l'élément parent */
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #af4c4c;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #af4c4c;
  cursor: pointer;
}
