<h1>Les Études En Image</h1>

<div class="buttons-container">
  <button (click)="onAnalyseChange('kaggle')" [class.active]="selectedAnalyse === 'kaggle'">
    Student Alcohol Consumption
  </button>
  <button (click)="onAnalyseChange('questionnaire')" [class.active]="selectedAnalyse === 'questionnaire'">
    Jeux Vidéos
  </button>
</div>

<main>
  <!-- Affichage des graphiques pour l'analyse Kaggle -->
  @if (selectedAnalyse === 'kaggle') {
    <div class="graphs">
      <app-kaggle-description></app-kaggle-description>
      <app-bar-student-range [data]="data"></app-bar-student-range>
      <app-jauge-student-range [data]="data"></app-jauge-student-range>
    </div>
  }

  <!-- Affichage du texte pour l'analyse Questionnaire -->
  @if (selectedAnalyse === 'questionnaire') {
    <div class="questionnaire-text">
      <app-questionnaire-description></app-questionnaire-description>
      <app-q-bar-student-range [data]="data"></app-q-bar-student-range>
      <app-q-jauge-student-range [data]="data"></app-q-jauge-student-range>
    </div>
  }
</main>
