<h1>Liste des graphiques</h1>

<div class="buttons-container">
  <button (click)="onAnalyseChange('kaggle')" [class.active]="selectedAnalyse === 'kaggle'">
    Analyse Kaggle
  </button>
  <button (click)="onAnalyseChange('questionnaire')" [class.active]="selectedAnalyse === 'questionnaire'">
    Analyse Questionnaire
  </button>
</div>

<main>
  <!-- Affichage des graphiques pour l'analyse Kaggle -->
  @if (selectedAnalyse === 'kaggle') {
    <div class="graphs">
      <app-bar-student-range [data]="data"></app-bar-student-range>
      <app-jauge-student-range [data]="data"></app-jauge-student-range>
    </div>
  }

  <!-- Affichage du texte pour l'analyse Questionnaire -->
  @if (selectedAnalyse === 'questionnaire') {
    <div class="questionnaire-text">
      <p>Analyse basée sur les données du questionnaire. Aucun graphique disponible pour cette section.</p>
    </div>
  }
</main>
