<div class="study-description">
  <h2>Étude : Student Alcohol Consumption</h2>

  <!-- Texte abrégé visible par défaut -->
  <p *ngIf="!showFullText">
    L’étude <strong>Student Alcohol Consumption</strong> est une recherche menée au Portugal, visant initialement à explorer le lien entre consommation d’alcool et performances scolaires. 
    Pour cela, 674 lycéens provenant de 2 lycées ont été interrogés.<br>
    <button (click)="toggleText()" class="toggle-button">En savoir plus</button>
  </p>

  <!-- Texte complet affiché lorsque le bouton est cliqué -->
  <div *ngIf="showFullText">
    <p>
      L’étude <strong>Student Alcohol Consumption</strong> est une recherche menée au Portugal, visant initialement à explorer le lien entre consommation d’alcool et performances scolaires. 
      Pour cela, 674 lycéens provenant de 2 lycées ont été interrogés.
    </p>

    <h3>Performances académiques</h3>
    <p>
      Pour évaluer leurs performances académiques, 3 notes en mathématiques et/ou en portugais ont été recueillies car :
    </p>
    <ul>
      <li>25 étudiants ont suivi uniquement les cours de mathématiques.</li>
      <li>279 étudiants ont suivi uniquement les cours de portugais.</li>
      <li>370 étudiants ont suivi les 2 cours.</li>
    </ul>

    <p>
      Outre leurs notes, d’autres indicateurs scolaires permettent de refléter leurs performances et leur environnement de travail : lycée fréquenté, temps de révision, retards, absences, motivation à poursuivre des études supérieures, prise ou non de cours particuliers, etc.
    </p>

    <h3>Consommation d'alcool</h3>
    <p>
      Le jeu de données inclut des données concernant leur consommation d’alcool : 2 variables permettent respectivement d’évaluer la fréquence de la consommation en semaine et en week-end.
    </p>

    <h3>Vie sociale et familiale</h3>
    <p>
      Mais l’étude s’est aussi élargie et contient des données concernant leur vie sociale : fréquence des sorties, temps libre, relations amoureuses, etc. ainsi que des informations relatives à leur vie de famille avec entre autres : relations familiales et taille de la famille.
    </p>

    <h3>Informations sociodémographiques</h3>
    <p>
      Enfin, les données présentent également des informations sociodémographiques : genre, âge, niveau d’étude et profession des parents.
    </p>

    <h3>Résumé des données</h3>
    <p>
      En tout, 30 variables ont été relevées, en plus des 3 notes en portugais et/ou en mathématiques.
    </p>
    <p>
      Ce jeu de données constitue une base pour analyser le lien entre consommation d’alcool et performances scolaires, mais il permet aussi de regarder les liens entre les différentes variables présentes et leur influence mutuelle.
    </p>

    <button (click)="toggleText()" class="toggle-button">Voir moins</button>
  </div>
</div>
