<h1>Equipe Rose Mountbatten</h1>

<div class="stats-container2">
  <div class="info-section">
    <h2>
      L'univers des jeux vidéo connaît une croissance spectaculaire en France !
    </h2>
    <p>
      Les jeux vidéo s'imposent comme un loisir incontournable touchant toutes les générations. Avec une popularité croissante chez les jeunes, notamment les lycéens, cette passion s'accompagne d'un équilibre subtil entre divertissement et études. Le jeu vidéo, bien plus qu'un simple passe-temps, est devenu une culture à part entière.
    </p>
  </div>
  
  <div class="cards-section">
    <div class="card">
      <h3>{{ playersCount}} M</h3>
      <p>Nombre de joueurs en millions en France</p>
    </div>
    <div class="card">
      <h3>{{ averageScore }}/20</h3>
      <p>Moyenne générale en France pour les lycéens</p>
    </div>
    <div class="card">
      <h3>{{ hoursPlayed }} H</h3>
      <p>jouées par jour</p>
    </div>
    <div class="card">
      <h3>{{ daysCount }}</h3>
      <p>Jours cumulés par an</p>
    </div>
  </div>
</div>

<div class="stats-container2">
  <h2>Le projet</h2>
  <p class = "texte">Dans un contexte où les jeux vidéo occupent une place croissante dans la vie des jeunes, ce projet explore les liens entre le temps consacré aux jeux vidéo, les comportements de dépendance et les performances scolaires. L'objectif est d'identifier des corrélations significatives entre ces variables en utilisant une approche méthodique et analytique.

    Partant d'un jeu de données initial sur la consommation d'alcool et ses impacts sur les résultats scolaires (jeu de données Kaggle), ce projet étendra l'analyse en intégrant des données anonymisées sur le temps de jeu vidéo. L'équipe se concentrera sur la construction d'une base de données relationnelle robuste, l'analyse statistique des corrélations, et le développement d'une plateforme web interactive permettant de visualiser et d'explorer les résultats.
    
    Ce travail vise non seulement à mieux comprendre les effets des loisirs numériques sur la réussite scolaire, mais aussi à fournir des outils et des modèles prédictifs accessibles et interactifs pour sensibiliser et informer les parties prenantes.
  </p>
</div>
<div class="stats-container2">
  <h2>Origine du logo et de notre nom d'équipe</h2>
  <div class="texte2" >
    <img src="assets/logo.png" id="logo" />
    <p>Le nom de couleur rose Mountbatten désigne une couleur de camouflage maritime utilisée pour les navires de la Royal Navy au cours de la Seconde Guerre mondiale.
       <br>C'était un gris rosâtre, employé à l'instigation de l'amiral Louis Mountbatten.
       Mountbatten, convaincu de l'efficacité de cette couleur comme camouflage à l'aube et au crépuscule, moments dangereux pour les navires,<br>
        fit peindre tous les destroyers de sa flottille avec une peinture similaire, créée en mélangeant un gris moyen avec une petite quantité de rouge vénitien.
        </p>
  </div>
</div>
